{% extends 'base.html.twig' %}

{% block title %}Edit Warrior{% endblock %}

{% block body %}
    <h1>Edit Warrior</h1>

    {{ include('warrior/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_homepage') }}">back to list</a>

    {{ include('warrior/_delete_form.html.twig') }}
{% endblock %}
