{% extends 'base.html.twig' %}

{% block title %}New Warrior{% endblock %}

{% block body %}
    <h1>Create new Warrior</h1>

    {{ include('warrior/_form.html.twig') }}

    <a href="{{ path('app_homepage') }}">back to list</a>
{% endblock %}
