{% extends 'base.html.twig' %}

{% block body %}

Homepage authenticated

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
    {% endif %}

    <hr/>
    <h2>Liste des combattants :</h2>
    <ul>
    {% for w in warriors %}
        <li>{{  w.name }}</li>
    {% endfor %}
    <ul>
    <a href="{{ url("warrior_create") }}">Create New Warrior</a>
{% endblock %}