{% extends 'base.html.twig' %}

{% block title %}Edit FightStyle{% endblock %}

{% block body %}
    <h1>Edit FightStyle</h1>

    {{ include('fight_style/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fight_style_index') }}">back to list</a>

    {{ include('fight_style/_delete_form.html.twig') }}
{% endblock %}
