{% extends 'base.html.twig' %}

{% block title %}Edit Slots{% endblock %}

{% block body %}
    <h1>Edit Slots</h1>

    {{ include('slots/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_slots_index') }}">back to list</a>

    {{ include('slots/_delete_form.html.twig') }}
{% endblock %}
